body{
margin: 0;
font-family: 'Open Sans', sans-serif;
}
.header{
height: 90px;
width: 100%;
padding: 0 164px;
box-sizing: border-box;
display: flex;
justify-content: space-between;
align-items: center;
box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
background-color: rgba(255, 255, 255, .9);
position: fixed; //показывает всегда шапку при скроле
left: 0;leftleft
top: 0;top
}




.links{


/*float: right; старый способ
//display: inline или block или innline-block;
/*display: inline-block;
margin-left: 100px;
display: flex;  row или column-revers*/

}
.link{
    text-decoration: none;
    text-transform: capitalize; /*Все с больших букв*/
font-size: 17px;
color: #8a8a8a;
margin-right: 38px;

}
/*.link:last-child{ если нужно к классу переопределить что-то одно*/


.login{
    border: none;
    outline: none; /*убираем обводку кнопки*/
    cursor: pointer;
    width: 87px;
    height: 27px;
    background-color: #de6d6e;
    border-radius: 3px; /*скругление*/
    font-size: 17px;
    color: white;
    text-transform: capitalize;
    margin-left: 4px;
}
.btn_img{


}
.banner{
    width: 100%;
    height: 588px;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat; /*чтобы не налаживались картики друг на друга*/
    background-size: cover;
    background-position: center;
    color: white;
    padding-bottom: 85px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.title{
text-transform: uppercase;
font-weight: 800px;
font-size: 69px;

}
.title2{
font-size: 25px;

}
.info{
    width: 100%;
    height: 469px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 66px;
    box-sizing: border-box;
}
.info_title{
color: #404040;
font-size: 35px;
margin-bottom: 30px;
}

.info_text{
width: 830px;
text-align: center;

}

.circles{
    width: 100%;
    padding: 0 160px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 88px;

}

.card{
    border-radius: 50%;
    background: #4eb9f4;
    width: 180px;   
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    flex-shrink: 0; /*не ломает пропорции элемента, говорит флексу не трогать этот блок*/
}

.card > img{
    margin-bottom: 12px;
}

.blue{
    background-color: #4eb9f4;
}

.green{
    background-color: #6fc125;
}

.red{
    background-color: #ff5649;
}

.orange{
    background-color: #e48f23;
}

.menu {
width: 50px;
height: 50px;
border: 3px solid #404040;
box-sizing: border-box;
border-radius: 10px;
cursor: pointer;
display: none;
justify-content:center;
align-items: center;
position: relative;

}

.line {
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: relative;
    transition: .4s;
}

.line::after {
    content: ''; 
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: absolute;
    left: 0;
    top: 8px;

}

.line::before {
    content: ''; 
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: absolute;
    left: 0;
    bottom: 8px;

}
/*
.menu:hover > .line { символ вложенности
    background-color: transparent; цвет элемента прозрачный
    */

.chb:checked + .line{
    background-color:transparent;

}

.chb:checked + .line::after{
    transform: rotate(-45deg);
    top:0;

}

.chb:checked + .line::before{
    transform: rotate(45deg);
    bottom:0;

}
.chb {
    display: none;
    }

  .chb:checked ~ .dropdown{
      height: 200px;
  }

.dropdown{
    position: absolute;
    width: 250px;
    height: 0px;
    background-color: white;
    box-shadow: 5px 5px 10px 0 black;
    left:55px ;
    top: 50px;
    transition: .3s ease-in-out; /*неравномерная скорость анимации*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    box-sizing: border-box;
    overflow: hidden; /*можно scroll adn auto*/
    
}

.dropdown > .link{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    
}

.news{
    width: 100%;
    padding: 45px 129px;
    box-sizing: border-box;
    padding-bottom: 0;
    }

    .news-item{
        width: 100%;
        height: 135px;
        display: flex;
        margin-bottom: 79px;
        padding-left: 65px;
        box-sizing: border-box;
    }

    .news-info{
        margin-left: 27px;
        padding-top: 10px;
        box-sizing: border-box;
    }

    .news-title{
        font-size: 27px;
        font-weight: 300;
        color: #404040;
        display: block; /*превращаем в блочный элемент*/
        width: 285px;
      
        white-space: nowrap; /*запрещаем перенос строки*/
        overflow: hidden; /*скрываем все что не влазит в блок*/
        text-overflow: ellipsis; /*заменяем на три точки*/
    }

    news_text{
        font-size: 15px;    
        color: #9b9b9b;
    }

    .fouter{
        width: 100%; /*чтобы растянулся на всю ширину*/
        height: 258px;
        background-color: #23232b;
        padding: 36px 129px 36px 129px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }

    .fouter_conteiner{

    }

    .fouter_title{
        color: #a3a4a4;
        font-size: 21px;
        
    }

    .fouter-list{
        list-style-type: none;
        padding-left: 0;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .fouter-list > li{ /*только эти li будут изменены, изолировали от всей страницы, вложенны*/
        margin-bottom: 2px;

    }

    .fouter-list > li > a{
        font-size: 14px;
        color: #a3a4a4;
        text-decoration: none;
        padding: 0;
    }

    .submenus{
        width: 644px;
        display: flex;
        justify-content: space-between;
        margin-left: 65px;

    }

    .social{
    margin-top: 18px;
    color: #aeaeae;
    font-size: 15px;


    }

    .social_btns > a {
        margin-right: 25px; 
        text-decoration: none;  /*убрать подчеркивания тега а*/
    }
    .social_btns > a::last-child { 
        margin-right: 0; /*последний элемент другой марджин*/
    }

    .social_btns{
        margin-bottom: 30px;
    }


/*------------------------*/
@media screen and (max-width: 1024px ){
    .circles{
        padding: 0 10px;
    }
    .fouter{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
}



@media screen and (max-width : 980px){
    .header{
        padding: 0 20px;
    }
    .info_text{
        width: 100%;
    }
}

@media screen and (max-width: 720px ){
    .links{
        display: none;
    }

    .menu{
        display: flex;
    }

    .header{
        flex-direction: row-reverse;
        
    }
    .circles{
        /*flex-direction: column;*/
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .card{
        margin-bottom: 10px;
        margin: 10px 30px;
    }
    .info{
        height: auto;
    }
    .submenus{
        width: 100%;
    }
}

@media screen and (max-width: 1310px){
    .footer{
        padding: 36px 20px 34px 20px;
    }
    .submenus{
        margin-left: 0;
    }
}

@media screen and (max-width: 500px){
    .submenus{
        flex-wrap: wrap;
    }
    .social_btns{
        margin-right: 5px;
    }

}


